.challenge-middle {
  border: cadetblue solid 1px;
  padding: 2rem;
  margin-bottom: 2rem;

  &__header {
    text-align: center;
  }

  &__letter {
    font-size: 2rem;
    color: darkred;
    text-transform: lowercase;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__item {
    margin: 0 .4rem;
    font-size: 3rem;
    cursor: pointer;

    &--active {
      color: darkred;
    }
  }

  &__tooltip {
    display: inline-block;
    padding: .2rem 1rem;
    border-radius: 1rem;
    background-color: dodgerblue;
    margin-left: 1rem;
  }
}
