.challenge-middle {
  border: cadetblue solid 1px;
  padding: 2rem;
  margin-bottom: 2rem;

  &__container {
    text-align: center;
  }

  &__header {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__letter {
    font-size: 2rem;
    color: darkred;
    text-transform: lowercase;
  }

  &__list {
    list-style-type: none;
    padding: 0 9rem 0 0;
    margin: 0;
    display: inline-block;
    position: relative;
  }

  &__item {
    display: inline-block;
    margin: 0 .4rem;
    font-size: 3rem;
    cursor: pointer;
    transition: color .1s ease-in;

    &:first-of-type {
      text-transform: uppercase;
    }

    &:hover {
      color: grey;
    }

    &--active {
      color: darkred;
    }
  }

  &__tooltip {
    padding: .2rem 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  .challenge-middle__item {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .challenge-middle__list {
    display: flex;
    flex-direction: column;
  }
}
