<div class="challenge-middle">
  <div class="challenge-middle__header">Найдите (кликните) букву <span class="challenge-middle__letter">{{ letter }}</span> в слове:</div>
  <div class="challenge-middle__container">
    <ul class="challenge-middle__list">
      <li
        class="challenge-middle__item"
        *ngFor="let item of items" (click)="onSelect(item)"
        [ngClass]="{'challenge-middle__item--active': item.checked}"
      >{{ item.char }}</li>
      <div
        class="tooltip" [className]="tooltipChecked ? 'tooltip--success' : 'tooltip--mistake'"
        [hidden]="!tooltipShow"
      >{{ tooltipMessage }}!</div>
    </ul>
  </div>
</div>
